.root{
	-fx-background-color: #F0E68C;
	-fx-border-color: #FFA500;
	-fx-border-insets: 5pt;
}

#scoreTitle{
	-fx-font-family: 'FlappyBirdy';
	-fx-font-size: 55pt;
}

#listScore{
	-fx-background-color: #F0E68C;
}

.list-cell { -fx-text-fill: black;}
.list-cell:odd { -fx-background-color: #F0E68C}
.list-cell:even { -fx-background-color: #F0E68C}
.list-cell:filled:hover { -fx-background-color: #F0E68C}

