.root{
	-fx-background-color: deepskyblue;
}

.button{
	-fx-font-family: 'consolas';
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-border-color: black;
	-fx-text-fill: darkred;
	-fx-background-color: khaki;
}

.button:focused{
	-fx-border-color: black;
	-fx-text-fill: khaki;
	-fx-background-color: darkred;
}

.button:armed{
	-fx-border-color: black;
	-fx-text-fill: khaki;
	-fx-background-color: forestgreen;
}